statemachine/delegate_dns_subdomains.asl.yaml
Comment: Delegates DNS subdomains to an account.
StartAt: Collect Domain Data
States:
  Collect Domain Data:
    Type: Task
    Resource: '${CollectDomainDataFunctionArn}'
    Parameters:
      account_id: '${NetworkingAccountId}'
    ResultPath: $.domains
    Retry:
      - ErrorEquals:
          - States.TaskFailed
        IntervalSeconds: 5
        MaxAttempts: 5
        BackoffRate: 5
    Next: Collect Subdomain Data

  Collect Subdomain Data:
    Type: Task
    Resource: '${CollectDomainDataFunctionArn}'
    Parameters:
      account_id.$: $.account_id
    ResultPath: $.subdomains
    Retry:
      - ErrorEquals:
          - States.TaskFailed
        IntervalSeconds: 5
        MaxAttempts: 5
        BackoffRate: 5
    Next: Determine Extent of Changes

  Determine Extent of Changes:
    Type: Task
    Resource: '${DetermineExtentOfChangesFunctionArn}'
    ResultPath: $.changes
    Retry:
      - ErrorEquals:
          - States.TaskFailed
        IntervalSeconds: 5
        MaxAttempts: 5
        BackoffRate: 5
    Next: Delegate DNS Subdomains

  Delegate DNS Subdomains:
    Type: Task
    Resource: '${DelegateDNSSubdomainsFunctionArn}'
    ResultPath: null
    Retry:
      - ErrorEquals:
          - States.TaskFailed
        IntervalSeconds: 5
        MaxAttempts: 5
        BackoffRate: 5
    End: true
